<link rel="stylesheet" href="/style.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<nav style="height: 80px; background: rgb(180, 6, 228); box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.667);">
  <div class="nav-wrapper">
    <a
      href="/home"
      class="brand-logo"
      style="display: flex; justify-content: center; align-items: center"
    >
      <img
        src="https://freeiconshop.com/wp-content/uploads/edd/bank-flat.png"
        width="83px"
        height="77px"
      />
    </a>
    <ul
      class="left"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-family: 'Fredoka One', cursive;
        margin-left: 90px;
      "
    >
     
      <li><a href="/home" style="font-size: 1.5rem">Home</a></li>
    </ul>

    <ul
      id="nav-mobile"
      class="hide-on-small-only right"
      style="
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 100%;
        font-family: 'Fredoka One', cursive;
      "
    >
      <li>
        <a href="/customers" style="font-size: 1.5rem">View All Customers</a>
      </li>
      <li>
        <a href="/transactions" style="font-size: 1.5rem"
          >Transaction History</a
        >
      </li>
    </ul>
  </div>
</nav>
